.emi-screen
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 102.4rem;
	height: 70%;
	position: absolute;
	margin: auto;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid transparent;
	border-image:  url("coui://gfx/mods/msu/skin/generic_background_large_border.png") 50 fill / 1rem / 2rem stretch;
}
.emi-title
{
	display:flex;
	justify-content: center;
	padding-top: 1rem;
}
.emi-content-container
{
	flex: 1;
	width: 100%;
	overflow: auto
}
.emi-tab-button-bar
{
	height: 4.3rem;
	width: 100%;
	background-color: aquamarine;
	display: inline-flex;
	flex-direction: row;
	margin-top: 10;
	margin-bottom: 10;
	text-align: center;
}
.emi-tab-button
{
	min-width: 17.4rem;
	height: 4.3rem;
	margin-right: 0.66rem;
	line-height: 3.0rem;
}
.emi-scroll-container
{

}
.emi-event-container
{
	display:flex;
	flex-direction: row;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 15px;
	border: 10px solid transparent;
	border-image:  url("coui://gfx/mods/msu/skin/generic_background_large_border.png") 50 fill stretch;
}
.emi-event-item-name
{
	width:70%;
	justify-content: start;
	margin-bottom: 3px;
}
.emi-event-item-score
{
	width: 20%;
	margin-bottom: 3px;
}
/* .emi-overview-perks-row
{
	display:flex;
   	background-image: url("coui://gfx/ui/skin/custom_background_698_40.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top:1rem;
	padding-bottom: 1rem;
}
//if the special loose group, we just want one large cell
.emi-overview-perks-row[data-perkgroupid="looseperksgroup"] .emi-overview-perks-row-cell:nth-child(2)
{
	flex:initial;
}
.emi-overview-perks-row-cell
{
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-left: 1px solid rgba(0,0,0,0.4);
	border-right: 1px solid rgba(0,0,0,0.4);
}
.emi-overview-perks-row-cell:first-child
{
	border-left: none;
}
.emi-overview-perks-row-cell:last-child
{
	border-right: none;
}
.emi-overview-perks-row-cell.emi-overview-perkgroup-cell
{
	border-right: 2px solid rgba(0, 0, 0, 0.7);
	background-color: rgba(87, 65, 43, 0.3);
	margin-left: 7px;
} 
*/
.emi-overview-filter-container
{
/*	height:10%;*/
	width:90%;
	padding: 1rem;
	justify-self: flex-end;

	display: flex;
	flex-direction: column;
/*	align-items: center;*/
	justify-content: center;
}
.emi-overview-filter-by-name-row
{
	display:flex;
}
.emi-overview-filter-by-name-row  span
{
	margin-right: 3rem;
	display: inline-flex;
	align-items: center;
}

.emi-overview-filter-bar-container
{
    width: 30.0rem;
    height: 4.0rem;
    color:black;
}
.emi-filter
{
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	border: none;
    outline: none;

	text-shadow: 1px 1px 1px #000;

    -moz-user-select: -moz-text;
    -webkit-user-select: text;
    user-select: text;

	background-image: url("coui://gfx/ui/skin/text_input_300x40_inactive.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.emi-filter:hover,
.emi-filter:focus
{
    /*border-color: rgb(129, 50, 24);*/
    background-image: url("coui://gfx/ui/skin/text_input_300x40_selected.png");
}
.emi-overview-footer
{
	justify-self: flex-end;
	padding-bottom: 2rem;

	display:flex;
	align-items: center;
	justify-content: center;
}
.emi-overview-footer .ui-control
{
	height:4.3rem;
	width: 17.5rem;
}
.emi-show-overview-screen-container
{
	width: 4.5rem;
	height:  4.1rem;
	position: absolute;
	right:-4px;
	bottom: 5rem;
}
